body {
	min-width: 500px;
	padding: 10px;
}
ul {
	list-style-type: none;
	padding: 0;
}

li {
	padding: 5px;
	margin: 2px;
	border: 1px solid #000000;
}
li span {
	display: block;
}
a {
	color: inherit;
  	text-decoration: inherit;
  	text-transform: inherit;
}
li:hover {
	background-color: #999999;
}